<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href="{% static 'css/style.css' %}">
    <title>Coming Soon</title>
</head>
<body>
    <h2 class="coming soon">
        <strong>
            Coming Soon and Still developing :))
        </strong>
    </h2>
    <h2 class="nexttime">
        <strong>
            See you next time !!
        </strong>
    </h2>
    
</body>
</html>