
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title> Muhammad Farras </title>  
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel = "stylesheet" href="{% static 'css/style.css' %}"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>
    <body>
    
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Farras</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="text-navbar"><a href="#">Home</a></li>
                    <li class="text-navbar"><a href="#Experience">Experience</a></li>
                    <li class="text -navbar"><a href="#Project">Project</a></li>
                    <li class="text-navbar"><a href="#Skill-Achievement">Skill and Achievement</a></li>
                    <li class="text-navbar"><a href="#About-Me">About Me</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>  
        
        <div class="flex-container">
            <div class ="image"> 
                <img src="{% static 'images/myphoto.png' %}" alt="My Photo" width="300" height="315">
            </div>
            <div class= "cerita"> 
                <div class="Story-title">
                    <h1><strong> My Story</strong>  </h1>
                </div>
                <div class= "paragraph"> 
                    <p> Hello My Name is Muhammad Farras Nur Aslam and you can call me Farras. 
                        Now, I’m a student at Faculty of Computer Science, University of Indonesia.</p>
                </div>
                    <a href="{% url 'page2' %}">
                        <button class="readmore"> Next Page </button>
                    </a>
            </div>
        </div>
        <div class="title" id="Experience">
                <h1><strong> Experience</strong></h1>
        </div>

        <div class="container">
            <div class="text-box">
                <h3><strong>Education</strong></h3>
                <div class="institute">
                    <img src="{% static 'images/universitas.png' %}" alt="UI" width="70px" height="65px">
                    <h5><strong>University of Indonesia</strong></h5>
                    <p>2018-present</p>
                    <p>Bachelor degree of Information System</p>
                    <p>Faculty of Computer Science</p>
                    <p>GPA : 3.75</p>
                </div>
                <div class="institute">
                    <img src = "{% static 'images/LOGO_3.png' %}" width="70px" height="80px">
                    <h5><strong>SMA Negeri 3 Bandung</strong></h5>
                    <p>2015-2018</p>
                    <p>Average Score : 86.0</p>
                </div>  
            </div>
            <div class="text-box">
                    <h3><strong>Organization & Commitee</strong></h3>
                    <div class="institute">
                        <img src="{% static 'images/bem.png' %}" alt="bem" width="70px" height="80px">
                        <h5><strong>BEM Fasilkom UI 2019</strong></h5>
                        <p>2019-present</p>
                        <p>Staff of Academic and Leadership Department</p>
                    
                    </div>
                    <div class="institute">
                        <img src = "{% static 'images/fuki.png' %}" width="95px" height="90px">
                        <h5><strong>FUKI FASILKOM UI</strong></h5>
                        <p>2019-present</p>
                        <p>Staff of Qur'an Department</p>
                    </div>  
                </div>         
        </div>
        <div class="title" id="Project">
            <h1><strong>My Project</strong></h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="{% static 'images/siwak.jpg' %}" style="width: 100%">
                <img src="{% static 'images/abiwara.jpg' %}"style="width: 100%">
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="{% static 'images/baksoss.jpg' %}" style="width:100%">
                <img src="{% static 'images/baksos.jpg' %}" style="width:100%">
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="{% static 'images/eterna.jpg' %}" style="width: 100%">
                <img src="{% static 'images/booklet.jpg' %}" style="width: 100% ">

            </div>
        </div>
        <div class="title" id="Skill-Achievement">
            <h1><strong>Skill & Achievement</strong></h1>
        </div>
        <div class="container-a">
            <div class="box">
                <div class="WebDev">  
                    <img class= "skill" src="{% static 'images/computer.png' %}" >
                    <h3 id="additional"><strong>Web Developer</strong> </h3>
                </div> 
                <div class="Html-img">  
                    <img class= "skill" src="{% static 'images/html-solid.png' %}" >
                    <h3 id="additional"><strong>HTML</strong> </h3>
                </div> 
                <div class="Html-img">  
                    <img class= "skill" src="{% static 'images/css.png' %}">
                    <h3 id="additional"><strong>CSS</strong> </h3>
                </div>
                <div class="Html-img">  
                    <img class= "skill" src="{% static 'images/python.jpg' %}" >
                    <h3 id="additional"><strong>Python</strong> </h3>
                </div> 
            </div>

            <div class="box">
                <div class="Ganesha">
                    <img class="skill" src="{% static 'images/Ganesha-Operation.jpg' %}">
                    <h4 id ="achievement"><strong>Ganesha Operation </strong></h4>
                    <h4 id ="achievement"><strong>Scholarship Awardee </strong></h4>
                    
                </div>
                <div class="Hemat">
                    <img class="skill" src="{% static 'images/hematenergi.jpg' %}">
                    <h4 id ="achievement"><strong>Finalis Lomba Video </strong></h4>
                    <h4 id ="achievement"><strong>Aksi Hemat Energi</strong></h4>
                </div>
            </div>
        </div>
        <div class="title" id="About-Me">
            <h1><strong>About Me</strong></h1>
        </div>
        <div class="container-b">
            <div class="box">
                <h4><strong> Don't hesitate to contact me</strong></h4>
            </div>
            <div class="box">
                <a href="https://aboutme.google.com/u/0/?referer=gplus" target="_blank" class="btn-social btn-google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.instagram.com/mfarrasn/?hl=en" target="_blank" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/mfarrasn" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/in/muhammad-farras-nur-aslam-604a4a10a" class="fa fa-linkedin"></a>
            </div>
           
        </div>   
    </body>
</html>