body{
   background-color: #F6FA33    ;

}
.navbar{
    height: 30px;
    background-color :  #F6FA33 ;
    color: black !important;
    border-bottom : 4px solid black ;
    border-top: none;
    font-family: 'Times New Roman' !important;    
    padding-top: 2px; 
}
.navbar-nav{
    float: right;
    right: 10px;
    font-size: 18px;    
}
.image{
    padding: 30px;

}
.flex-container {
    display: flex;
    background-color: #F6FA33 ;
    justify-content: center ;
    padding: 90px;
}
  
.flex-container > div {
    background-color:  #F6FA33 ;
    margin: 8px;
    padding: 50px;
    font-size: 30px;

}
.Story-title{
    text-align: left;
    padding-top: 2px; /* This creates some space between the element and the border. */
    border-bottom: 6px solid white;

}
.paragraph{
    padding-top: 30px;
    font-size: 23px;
}

.readmore{
    color: white;
    background-color: black;
    font-size: 18px;
    cursor: pointer;
    float: right;
    margin: 3px 1px;
    border-radius: 12px;
    padding: 10px;
}
.text-box{ 
    background-color: white;
    border-radius: 20px;
    padding: 10px;

}
h3{
    text-decoration: underline;
}
.institute{
    padding: 10px;
}
.container{
    display:flex;
    justify-content: space-between;    
}
h5{
    text-decoration: underline;
    padding: 5px;
}
p{
    text-decoration: none;
}
.title{
    text-align: center;
    margin: 30px;
    padding-top: 0;
    text-decoration: underline overline;
    text-decoration-color: white;
    border-bottom: none;

}
#Project{
    padding: 40px;
    margin: 20px;   
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 20px;   
  
  }
  
    /* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 50%; /* IE10 */
    display: flex;
    flex: 50%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    padding: 10px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
#Skill-Achievement{
    padding: 30px;
    margin: 20px;
}
.container-a{
    justify-content: center;
    right: 40px;
    left: 30px;

}
.skill{
    display: flex;
    padding: 20px;
    width: 200px;
    height: 230px;
    
}
#additional{
    text-decoration: none;
    padding: 2px;
    text-align: center;

}
.box{
    display: flex;
    justify-content: center;
    padding: 2w0px;

}
#achievement{
    margin: 2px;
    padding: 2px;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px; 
  }
  
.fa:hover {
      opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 100%;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
.container-b{
    justify-content:center ;
  }